// ======================================================
// Components :: Button
// ======================================================
input[type="checkbox"][disabled="disabled"]{
  background: transparent;
}
input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}
input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff;
}
input[type="checkbox"]:checked:after{
  background-color: #F37021;
  border-color: #F37021;
}
.btn-green{
  background: #45AA1B;
  font-weight: 700;
  color: $c-wh;
  border-radius: 4px;
  border: none;
  padding: 11px 47px 13px 43px;
  transition: all 0.3s;
  white-space: nowrap;
  @include lessdesktop{
    padding: 11px 15px;
  }
  &:hover{
    background: #539c35;
    transition: all 0.3s;
  }
}

.btn-search{
  height: 50px;
  background: #FEF6F1;
  color: #DA2128;
  padding: 15px 101px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  margin-bottom: 15px;
  @include lessdesktop{
    padding: 15px 73px;
  }
  &:hover{
    background: #ffc7a4;
    transition: all 0.3s;
  }
}
.sell-tb{
  background: #FCDBC7;
  color: #DA2128;
  border: none;
  padding: 3px 25px;
  border-radius: 2px;
  &:hover{
    background: #ffcdb0;
  }
}
.buy-tb{
  background: #E0FFD2;
  color: #45AA1B;
  border: none;
  padding: 3px 25px;
  border-radius: 2px;
  &:hover{
    background: #cbffb4;
  }
}