// ======================================================
// Components :: Button
// ======================================================
input[type="checkbox"][disabled="disabled"]{
  background: transparent;
}
input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px;
}
input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff;
}
input[type="checkbox"]:checked:after{
  background-color: #F37021;
  border-color: #F37021;
}
input[type="checkbox"]~label{
  cursor: pointer;
}
//radio
input[type="radio"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 7px 5px 8px 15px;
  //background: #f7f7f7;
  float: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
input[type="radio"]:checked:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff;
}
input[type="radio"]:checked:after{
  background-color: #F37021;
  border-color: #F37021;
}
input[type="radio"]:checked{
  background: #f7f7f7;
}
input[type="radio"]:checked ~ label{
  background: #f7f7f7;
}

.btn-green{
  background: #45AA1B;
  font-weight: 700;
  color: $c-wh;
  border-radius: 4px;
  border: none;
  padding: 11px 47px 13px 43px;
  transition: all 0.3s;
  white-space: nowrap;
  @include lessdesktop{
    padding: 11px 15px;
  }
  @media (max-width: 1320px) {
    padding: 11px 42px;
  }
  @include mobile-horizontal{
    width: 100%;
    padding: 12px 15px;
  }
  &:hover{
    background: #47892c;
    transition: all 0.3s;
  }
  &.btn-red{
    background: #DA2128;
    &:hover{
      background: #b8252b;
    }
  }
}

.btn-search{
  height: 50px;
  background: #FEF6F1;
  color: #DA2128;
  padding: 15px 101px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  margin-bottom: 15px;
  @include lessdesktop{
    padding: 15px 73px;
  }
  @include mobile-horizontal{
    width: 100%;
  }
  &:hover{
    background: #ffc7a4;
    transition: all 0.3s;
  }
}
.sell-tb{
  background: #FCDBC7;
  color: #DA2128;
  border: none;
  padding: 3px 25px;
  border-radius: 2px;
  &:hover{
    background: #DA2128;
    color: $c-wh;
  }
}
.buy-tb{
  background: #E0FFD2;
  color: #45AA1B;
  border: none;
  padding: 3px 25px;
  border-radius: 2px;
  &:hover{
    background: #45AA1B;
    color: $c-wh;
  }
}
@include mobile-horizontal{
  .item-search .data-filed  input, .item-search .data-filed select{
    margin-bottom: 15px;
  }
}

.btn-main{
  width: 100%;
  border-radius: 4px;
  height: 41px;
  border: none;
  color: $c-wh;
  transition: all 0.3s;
}
.btn-cancel{
  background: #999;

  &:hover{
    background: #737373;
    transition: all 0.3s;
  }
}
.btn-confirm{
  background: radial-gradient(202.33% 683.91% at -13.58% -34.51%, #DA2128 35.6%, #F37021 100%);
  &:hover{
    background: radial-gradient(202.33% 683.91% at -13.58% -34.51%, #ff4a51 35.6%, #F37021 100%);
    transition: all 0.3s;
  }
}
.btn-confirm-mdl{
  background: #F37021;
  text-transform: uppercase;
  padding: 14px 111px;
  border-radius: 4px;
  color: $c-wh;
  border: none;
  transition: all 0.3s;
  &:hover{
    background: #ff6000;
    transition: all 0.3s;
  }
}
.btn-close{
  position: absolute;
  top: 29px;
  right: 35px;
  padding: 5px 7px;
  cursor: pointer;
}