ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial"; }

.body-wrap {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -147px;
  background: #D3D8DD;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  width: 100%; }

.push {
  height: 147px; }

.dp-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.overlay {
  background: rgba(22, 73, 137, 0.3882352941);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: url("../img/icon-caret-down-02.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 8px 5px; }
  select.select-icon-up {
    background: #fff url("../img/icon-up-select-03.svg") no-repeat;
    background-position: center right 16px;
    background-size: 8px 5px; }

.zone-white {
  background: #fff;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
  min-height: 577px; }
  @media only screen and (max-width: 767px) {
    .zone-white {
      min-height: auto; } }

label.error {
  color: #ED1111;
  padding-top: 0;
  padding-left: 24px;
  background: url(../img/icon-checkvalidate.svg) no-repeat top 0 left;
  background-size: 16px;
  margin-bottom: 15px; }

.datepicker-vsd {
  background: #fff url(../img/icon-cacular.svg) no-repeat;
  background-position: center right 12px;
  cursor: pointer; }

.container-login {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 991px) {
    .container-login {
      width: 374px; } }
  @media only screen and (max-width: 576px) {
    .container-login {
      width: 320px; } }

.row-login {
  margin: 0 -4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.col-msb-30 {
  padding: 0 15px;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; }
  @media only screen and (max-width: 991px) {
    .col-msb-30 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-msb-70 {
  padding: 0 15px;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; }
  @media only screen and (max-width: 991px) {
    .col-msb-70 {
      display: none; } }

.col-login-6 {
  padding: 0 4px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.login-wrap {
  position: relative;
  height: 100%;
  background: url("../img/bg-main.png") no-repeat bottom; }

.change-language {
  margin-bottom: 37px; }
  .change-language li svg {
    vertical-align: text-top; }
  .change-language li span {
    margin-left: 7px;
    color: #5F6775;
    font-size: 16px; }

.logo {
  margin-bottom: 27px; }

.txt-login {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px; }

.data-filed input:focus ~ label.lbl-field, .data-filed select:focus ~ label.lbl-field, .data-filed input:valid ~ label.lbl-field, .data-filed select:valid ~ label.lbl-field {
  font-size: 12px;
  color: #5F6775;
  top: -9px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0.03, 1); }

.data-filed {
  position: relative; }
  .data-filed input, .data-filed select {
    height: 50px;
    font-size: 14px;
    color: #1a1a1a;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #EAEAEA;
    padding: 15px 13px;
    margin-bottom: 15px;
    outline-color: #F37021; }
    .data-filed input:focus ~ label.lbl-field, .data-filed select:focus ~ label.lbl-field {
      color: #F37021; }
  .data-filed input {
    background: #fff; }
  .data-filed select {
    cursor: pointer; }
  .data-filed label.lbl-field {
    position: absolute;
    top: 16px;
    left: 14px;
    color: #2C485B;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    padding: 0 5px;
    background: #fff;
    border-radius: 3px; }

.txt-authentication {
  background: #EAEAEA;
  height: 50px;
  border-radius: 4px;
  font-size: 26px;
  line-height: 50px;
  text-align: center; }

.btn-login {
  background-image: linear-gradient(to right, #DA2128 0%, #F37021 51%, #DA2128 100%);
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto; }
  .btn-login:hover {
    background-position: 100% center; }

.forgot-password {
  color: #5F6775;
  font-size: 16px; }
  .forgot-password:hover {
    text-decoration: underline;
    color: #5F6775; }

.remember-login {
  cursor: pointer; }
  .remember-login label {
    color: #5F6775;
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer; }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #164989;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

.remember-login input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px; }

.remember-login input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.remember-login input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff; }

.remember-login input[type="checkbox"]:checked:after {
  background-color: #F37021;
  border-color: #F37021; }

/*# sourceMappingURL=main.css.map */
