ul, ol {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #232323; }

a, a:hover, a:focus {
  text-decoration: none; }

p {
  margin: 0; }

input, textarea {
  box-shadow: none; }

img {
  max-width: 100%; }

label {
  margin-bottom: 0; }

@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMedium.eot");
  src: url("../fonts/SVN-GothamRoundedMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMedium.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMedium.woff") format("woff"), url("../fonts/SVN-GothamRoundedMedium.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMedium.svg#SVN-GothamRoundedMedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLight.eot");
  src: url("../fonts/SVN-GothamRoundedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLight.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLight.woff") format("woff"), url("../fonts/SVN-GothamRoundedLight.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLight.svg#SVN-GothamRoundedLight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedItalic.eot");
  src: url("../fonts/SVN-GothamRoundedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedItalic.svg#SVN-GothamRoundedItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot");
  src: url("../fonts/SVN-GothamRoundedMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedMediumItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedMediumItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedMediumItalic.svg#SVN-GothamRoundedMediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot");
  src: url("../fonts/SVN-GothamRoundedLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedLightItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedLightItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedLightItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedLightItalic.svg#SVN-GothamRoundedLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBold.eot");
  src: url("../fonts/SVN-GothamRoundedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBold.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBold.woff") format("woff"), url("../fonts/SVN-GothamRoundedBold.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBold.svg#SVN-GothamRoundedBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot");
  src: url("../fonts/SVN-GothamRoundedBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRoundedBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GothamRoundedBoldItalic.woff") format("woff"), url("../fonts/SVN-GothamRoundedBoldItalic.ttf") format("truetype"), url("../fonts/SVN-GothamRoundedBoldItalic.svg#SVN-GothamRoundedBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'SVN-Gotham Rounded';
  src: url("../fonts/SVN-GothamRounded.eot");
  src: url("../fonts/SVN-GothamRounded.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-GothamRounded.woff2") format("woff2"), url("../fonts/SVN-GothamRounded.woff") format("woff"), url("../fonts/SVN-GothamRounded.ttf") format("truetype"), url("../fonts/SVN-GothamRounded.svg#SVN-GothamRounded") format("svg");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes cubic-block {
  0% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  70% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-family: "SVN-Gotham Rounded";
  font-weight: 500; }

.body-wrap {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%; }

html, body {
  height: 100%; }

.push {
  height: 147px; }

.dp-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.overlay {
  background: rgba(22, 73, 137, 0.3882352941);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background: url("../img/icon-caret-down-02.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 8px 5px; }
  select.select-icon-up {
    background: #fff url("../img/icon-up-select-03.svg") no-repeat;
    background-position: center right 16px;
    background-size: 8px 5px; }

.zone-white {
  background: #fff;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
  min-height: 577px; }
  @media only screen and (max-width: 767px) {
    .zone-white {
      min-height: auto; } }

label.error {
  color: #ED1111;
  padding-top: 0;
  padding-left: 24px;
  background: url(../img/icon-checkvalidate.svg) no-repeat top 0 left;
  background-size: 16px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 767px) {
    label.error {
      margin-bottom: 10px; } }

.datepicker-msb-none {
  background: #fff url(../img/icon-cacular.svg) no-repeat center right 12px !important;
  cursor: pointer; }

input[name="daterange"] {
  background: #fff url(../img/icon-cacular.svg) no-repeat center right 12px !important;
  cursor: pointer; }

.main-wrap {
  background: #f4f3f3;
  position: relative;
  min-height: 100vh;
  padding: 41px 38px;
  padding-top: 132px; }
  @media only screen and (max-width: 1600px) {
    .main-wrap {
      padding: 118px 18px 41px; } }
  @media only screen and (max-width: 767px) {
    .main-wrap {
      padding: 70px 9px 6px; } }
  .main-wrap.cs-pd {
    padding: 0 0 40px; }

input[disabled="disabled"] {
  background: #F4F4F4;
  border: 1px solid #EAEAEA;
  border-radius: 3px; }

.status-pending {
  color: #D19809; }

.status-approved {
  color: #45AA1B; }

.status-cancelled {
  color: #DA2128; }

.overlay {
  background: #000;
  opacity: 0.5;
  z-index: 1;
  cursor: pointer; }

.user-block.btn-lightx {
  background: radial-gradient(122.58% 519.4% at 2.45% 8.6%, #DA2128 35.6%, #F37021 100%) !important; }

@media only screen and (max-width: 767px) {
  .user-block.btn-lightx {
    position: relative;
    background: transparent !important; }
    .user-block.btn-lightx:after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 2px solid #EF6222;
      border-radius: 50%; } }
.user-block.btn-lightx .name-user {
  color: #fff; }

.user-block.btn-lightx .txt-name-user, .user-block.btn-lightx .name-user .id-user {
  color: #fff !important; }

.user-block.btn-lightx .name-user .id-user {
  color: #fff; }

@media only screen and (max-width: 767px) {
  .hidden-mb {
    display: none; } }
.modal-msb {
  -webkit-filter: blur(0px); }

.size-modal-big {
  max-width: 64%;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 1700px) {
    .size-modal-big {
      max-width: 1200px; } }

.mdl-main {
  padding: 41px 29px 17px; }

.modal-content {
  margin: 50px 0; }

.heading-popup {
  font-size: 31px;
  line-height: 36px;
  margin-bottom: 23px;
  padding-left: 11px; }

.flow-auto {
  max-height: calc(100vh - 385px);
  overflow: auto;
  padding: 0 15px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .flow-auto::-webkit-scrollbar {
    width: 9px; }
  .flow-auto::-webkit-scrollbar-track {
    background: transparent; }
  .flow-auto::-webkit-scrollbar-thumb {
    background: #DBDBDB;
    border-radius: 10px; }
  .flow-auto::-webkit-scrollbar-thumb:hover {
    background: #DBDBDB;
    border-radius: 10px; }

.head-panel {
  font-size: 20px;
  margin-bottom: 24px;
  color: #F37021; }
  @media only screen and (max-width: 767px) {
    .head-panel {
      font-size: 18px;
      margin-bottom: 15px; } }

.item-zone-panel {
  margin-bottom: 19px; }
  @media only screen and (max-width: 576px) {
    .item-zone-panel {
      margin-bottom: 10px; } }

.mdl-footer {
  padding: 0 44px 23px;
  text-align: right; }
  .mdl-footer .btn-group-foot {
    border-top: 1px solid #F37021;
    padding: 30px 0; }

.container-login {
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 991px) {
    .container-login {
      width: 600px; } }
  @media only screen and (max-width: 767px) {
    .container-login {
      width: 100%; } }

.row-login {
  margin: 0 -4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-vsd {
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-6 {
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative; }

.col-msb-30 {
  padding: 0 15px;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%; }
  @media (max-width: 991px) {
    .col-msb-30 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-msb-70 {
  padding: 0 15px;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; }
  @media (max-width: 991px) {
    .col-msb-70 {
      display: none; } }

.col-login-6 {
  padding: 0 4px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.row-msb-9 {
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-msb-22 {
  padding: 0 9px;
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  max-width: 22%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-22 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-msb-78 {
  padding: 0 9px;
  -ms-flex: 0 0 78%;
  flex: 0 0 78%;
  max-width: 78%;
  position: relative; }
  @media (max-width: 1320px) {
    .col-msb-78 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

.col-msb-12 {
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative; }

.row-pc {
  margin: 0 -12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col-pc-4 {
  padding: 0 9px;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; }
  @media only screen and (max-width: 767px) {
    .col-pc-4 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }

header {
  background: #fff;
  z-index: 9;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.102);
  position: fixed;
  width: 100%; }

.head-msb {
  padding: 0 30px 0 39px; }
  @media only screen and (max-width: 1600px) {
    .head-msb {
      padding: 0 18px; } }
  @media only screen and (max-width: 767px) {
    .head-msb {
      padding: 0 9px; } }
  @media only screen and (max-width: 767px) {
    .head-msb .head-left {
      position: relative; } }
  .head-msb .head-left .menu-private {
    float: left;
    margin-top: 35px;
    margin-bottom: 33px; }
    @media (max-width: 991px) {
      .head-msb .head-left .menu-private {
        margin-top: 24px;
        margin-bottom: 26px; } }
    @media only screen and (max-width: 767px) {
      .head-msb .head-left .menu-private {
        margin-top: 12px;
        margin-bottom: 12px; } }
    .head-msb .head-left .menu-private button {
      background: transparent;
      border: none;
      padding: 0;
      outline: none; }
  .head-msb .head-left .logo-msb {
    float: left;
    margin: 19px 73px 23px 34px; }
    @media (min-width: 1200px) and (max-width: 1236px) {
      .head-msb .head-left .logo-msb {
        margin: 19px 35px 23px 34px; } }
    @media (min-width: 992px) and (max-width: 1080px) {
      .head-msb .head-left .logo-msb {
        margin: 19px 13px 23px !important; } }
    @media only screen and (max-width: 1199px) {
      .head-msb .head-left .logo-msb {
        margin: 19px 19px 23px; } }
    @media (max-width: 991px) {
      .head-msb .head-left .logo-msb {
        margin: 8px 19px 17px; } }
    @media only screen and (max-width: 767px) {
      .head-msb .head-left .logo-msb {
        margin: 1px 19px 8px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: -4px; } }
    .head-msb .head-left .logo-msb h1 {
      margin-bottom: 0; }
      .head-msb .head-left .logo-msb h1 a img {
        height: 43px; }
        @media (max-width: 991px) {
          .head-msb .head-left .logo-msb h1 a img {
            height: 30px; } }
        @media (min-width: 992px) and (max-width: 1080px) {
          .head-msb .head-left .logo-msb h1 a img {
            height: 30px; } }

.notification {
  display: inline-block;
  height: 51px;
  width: 51px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  transition: all 0.3s; }
  @media only screen and (max-width: 767px) {
    .notification {
      width: 32px;
      height: 32px;
      line-height: 28px; } }
  .notification img:first-child {
    display: inline-block; }
  .notification img:last-child {
    display: none; }
  .notification:hover {
    background: #E33C26;
    transition: all 0.3s; }
    .notification:hover img:first-child {
      display: none; }
    .notification:hover img:last-child {
      display: inline-block; }

.user-block {
  position: relative;
  display: inline-block;
  border: 1px solid #E5E5E5;
  padding: 7px 46px 7px 10px;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s; }
  @media (min-width: 992px) and (max-width: 1080px) {
    .user-block {
      margin-left: 0;
      padding-right: 26px; } }
  @media only screen and (max-width: 767px) {
    .user-block {
      margin-left: 3px;
      padding: 0;
      border: none; } }
  .user-block:hover {
    transition: all 0.2s;
    background: radial-gradient(122.58% 519.4% at 2.45% 8.6%, #DA2128 35.6%, #F37021 100%); }
    @media (max-width: 991px) {
      .user-block:hover {
        background: none; } }
    .user-block:hover .name-user {
      color: #fff; }
      .user-block:hover .name-user .id-user {
        color: #fff; }
        @media (max-width: 991px) {
          .user-block:hover .name-user .id-user {
            color: #7f7f7f; } }
      @media (max-width: 991px) {
        .user-block:hover .name-user {
          color: #000; } }
  .user-block .avatar-user {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 31px;
    background: #f9f9f9;
    border-radius: 50%;
    margin-right: 19px; }
    @media only screen and (max-width: 767px) {
      .user-block .avatar-user {
        margin-right: 0; } }
  .user-block .name-user {
    font-size: 16px; }
    @media only screen and (max-width: 767px) {
      .user-block .name-user {
        display: none; } }
    .user-block .name-user .id-user {
      color: #7f7f7f;
      font-size: 12px; }
    .user-block .name-user .txt-name-user {
      margin-bottom: 2px; }

.user-block:hover .info-user-wrap {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  animation: cubic-block 0.3s forwards; }
  @media (max-width: 991px) {
    .user-block:hover .info-user-wrap {
      animation: none; } }

.info-user-wrap {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 24px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @media (max-width: 991px) {
    .info-user-wrap {
      opacity: 1;
      visibility: visible;
      animation: none; } }
  @media only screen and (max-width: 767px) {
    .info-user-wrap {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 99;
      animation: unset;
      top: 39px;
      bottom: 0;
      padding: 24px 9px 0;
      height: 100%; } }
  .info-user-wrap .info-user-block {
    width: 486px;
    padding: 44px 54px 70px 54px;
    background: #fff;
    position: relative;
    border-radius: 26px;
    box-shadow: 7px 7px 20px #cbcbcb; }
    @media only screen and (max-width: 1600px) {
      .info-user-wrap .info-user-block {
        padding: 17px 18px 30px 18px;
        width: 362px; } }
    @media only screen and (max-width: 767px) {
      .info-user-wrap .info-user-block {
        border-radius: 10px;
        width: 100%;
        height: calc(100vh - 71px); } }
    .info-user-wrap .info-user-block:before {
      content: '';
      position: absolute;
      top: -7px;
      right: 40px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff; }
      @media only screen and (max-width: 767px) {
        .info-user-wrap .info-user-block:before {
          right: 10px; } }
    .info-user-wrap .info-user-block .avt-detail {
      display: block;
      width: 198px;
      height: 198px;
      border-radius: 50%;
      position: relative;
      margin-bottom: 78px; }
      @media only screen and (max-width: 1600px) {
        .info-user-wrap .info-user-block .avt-detail {
          width: 114px;
          height: 114px;
          margin-bottom: 16px; } }
      .info-user-wrap .info-user-block .avt-detail img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; }
      .info-user-wrap .info-user-block .avt-detail:before {
        content: '';
        display: block;
        padding-bottom: 100%; }
      .info-user-wrap .info-user-block .avt-detail .name-user-detail {
        display: block;
        width: 261px;
        color: #fff;
        font-size: 23px;
        font-weight: 700;
        background: radial-gradient(102.91% 383.02% at 2.97% -24.08%, #DA2128 35.6%, #F37021 100%);
        position: absolute;
        left: 50%;
        bottom: 0px;
        padding: 24px 0;
        text-align: center;
        border-radius: 59px; }
        @media only screen and (max-width: 1600px) {
          .info-user-wrap .info-user-block .avt-detail .name-user-detail {
            padding: 15px 27px;
            width: auto;
            white-space: nowrap; } }

.info-user-detail {
  border-bottom: 1px solid #EAEAEA;
  padding: 20px 0; }
  .info-user-detail:first-child {
    border-top: 1px solid #EAEAEA; }

.title-user-left {
  font-size: 13px; }

.info-user-right {
  font-weight: 600;
  word-wrap: break-word; }

.user-detail-block {
  margin-bottom: 72px; }
  @media only screen and (max-width: 1600px) {
    .user-detail-block {
      margin-bottom: 21px; } }

.btn-logout {
  padding: 24px 0;
  border: none;
  background: #EAEAEA;
  color: #636363;
  font-weight: 700;
  border-radius: 50px;
  text-align: center;
  width: 261px;
  display: block;
  margin: 0 auto 21px auto;
  font-size: 17px; }
  @media only screen and (max-width: 1600px) {
    .btn-logout {
      padding: 13px 44px;
      width: auto; } }
  .btn-logout:hover {
    color: #fff;
    background: radial-gradient(102.91% 383.02% at 2.97% -24.08%, #DA2128 35.6%, #F37021 100%); }

.change-password {
  font-weight: 700;
  color: #D35416;
  text-align: center; }
  .change-password:hover {
    color: #DA2128;
    text-decoration: underline; }

.line-main {
  background: #000;
  width: 23px;
  height: 4px;
  border-radius: 10px;
  display: block;
  margin-bottom: 5px;
  pointer-events: none;
  transition: all 0.3s; }
  .line-main:last-child {
    margin-bottom: 0; }

.change-icon-mb .line-1 {
  transform: translateY(9px) translateX(0) rotate(45deg);
  transition: all 0.3s; }
.change-icon-mb .line-2 {
  opacity: 0;
  transition: all 0.3s; }
.change-icon-mb .line-3 {
  transform: translateY(-9px) translateX(0) rotate(-46deg);
  transition: all 0.3s; }

.navigation {
  float: left;
  z-index: 999; }
  @media (max-width: 991px) {
    .navigation {
      display: block;
      position: fixed;
      top: 75px;
      left: 0;
      height: calc(100vh - 75px);
      background: #fff;
      width: 361px;
      padding: 0 30px;
      border-top: 1px solid #eaeaea;
      transform: translateX(-100%);
      transition: all 0.3s; } }
  @media only screen and (max-width: 767px) {
    .navigation {
      top: 49px;
      padding: 0 9px;
      height: calc(100vh - 49px); } }
  @media only screen and (max-width: 576px) {
    .navigation {
      width: 100%; } }

.navigation.open-mb {
  display: block;
  transform: translateX(0);
  transition: all 0.3s; }

.menu li {
  float: left;
  margin: 0 18px;
  position: relative; }
  @media only screen and (max-width: 1199px) {
    .menu li {
      margin: 0 9px; } }
  @media (max-width: 991px) {
    .menu li {
      display: block;
      float: unset;
      border-bottom: 1px solid #EAEAEA;
      margin: 0; } }
  .menu li.active a {
    color: #D35416; }
  .menu li.active a:after {
    transform: translateX(-50%) scaleX(1); }
    @media (max-width: 991px) {
      .menu li.active a:after {
        transform: scale(1);
        width: 100%; } }
  .menu li a {
    display: block;
    padding: 38px 0 39px;
    color: #303030;
    font-weight: 700;
    transition: all 0.3s;
    position: relative; }
    @media (max-width: 991px) {
      .menu li a {
        padding: 17px 0; } }
    .menu li a:hover {
      color: #D35416;
      transition: all 0.3s; }
    .menu li a:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5px;
      transform: translateX(-50%) scaleX(0);
      left: 50%;
      background: #D35416;
      z-index: 1;
      pointer-events: none;
      border-radius: 30px;
      transition: all 0.3s; }
      @media (max-width: 991px) {
        .menu li a:after {
          left: 0;
          transform: scale(1);
          width: 0;
          height: 1px; } }
    .menu li a:hover:after {
      transform: translateX(-50%) scaleX(1);
      transition: all 0.3s; }
      @media (max-width: 991px) {
        .menu li a:hover:after {
          transform: scale(1);
          width: 100%; } }

.sidebar {
  background: #fff;
  border-radius: 11px;
  overflow: hidden; }
  @media (max-width: 1320px) {
    .sidebar {
      margin-bottom: 15px; } }

.txt-heading {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0; }

.sidebar-heading {
  padding: 16px 31px; }
  @media only screen and (max-width: 1600px) {
    .sidebar-heading {
      padding: 16px 18px; } }
  @media only screen and (max-width: 767px) {
    .sidebar-heading {
      padding: 16px 9px; } }

.nav-tabs {
  border-bottom: 0; }
  .nav-tabs .nav-item {
    display: inline-block; }
    .nav-tabs .nav-item:last-child .nav-link:hover {
      background: #DA2128; }
    .nav-tabs .nav-item:last-child .nav-link.active {
      background: #DA2128; }
    .nav-tabs .nav-item .nav-link {
      display: block;
      width: 91px;
      padding: 9px 0 10px;
      height: 35px;
      border-radius: 30px;
      color: #595959;
      text-align: center;
      margin-left: 5px; }
      .nav-tabs .nav-item .nav-link:hover {
        background: #45AA1B;
        color: #fff; }
      @media only screen and (max-width: 1600px) {
        .nav-tabs .nav-item .nav-link {
          width: 62px; } }
      @media (max-width: 1320px) {
        .nav-tabs .nav-item .nav-link {
          width: 91px; } }
    .nav-tabs .nav-item .nav-link.active {
      color: #fff;
      background: #45AA1B;
      border-color: transparent; }

.sidebar-top {
  padding: 1px 29px 25px 29px; }
  @media only screen and (max-width: 1600px) {
    .sidebar-top {
      padding: 1px 18px 25px; } }
  @media (max-width: 1320px) {
    .sidebar-top {
      padding: 1px 9px 25px; } }
  @media only screen and (max-width: 767px) {
    .sidebar-top {
      padding: 1px 0 25px; } }

.enter-command {
  padding: 12px 20px 6px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  margin-bottom: 17px; }
  @media (max-width: 1320px) {
    .enter-command {
      border: none;
      padding: 12px 2px 6px;
      margin-bottom: 0; }
      .enter-command:after {
        content: '';
        clear: both;
        display: table; } }
  @media only screen and (max-width: 767px) {
    .enter-command {
      margin: 0 9px;
      border: 1px solid #eaeaea;
      padding-bottom: 0;
      margin-bottom: 17px; } }

.txt-enter-command {
  font-weight: 700;
  margin-bottom: 16px; }
  @media (max-width: 1320px) {
    .txt-enter-command {
      padding-left: 9px; } }

.interest-price {
  margin: 0 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 1600px) {
    .interest-price {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .interest-price {
      display: flex; } }
  .interest-price .lbl-main-left {
    width: calc(100% - 130px); }
    @media only screen and (max-width: 1600px) {
      .interest-price .lbl-main-left {
        width: 100%;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 767px) {
      .interest-price .lbl-main-left {
        width: 190px; } }
  @media (max-width: 1320px) {
    .interest-price {
      margin: 0;
      padding: 0 9px;
      width: 50%;
      float: left; } }
  @media only screen and (max-width: 767px) {
    .interest-price {
      width: 100%; } }

.ip-50 {
  width: 130px;
  height: 31px; }
  @media only screen and (max-width: 1600px) {
    .ip-50 {
      width: 100%;
      margin-bottom: 15px; } }
  @media only screen and (max-width: 767px) {
    .ip-50 {
      width: calc(100% - 190px); } }
  .ip-50 input {
    height: 31px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    padding: 4px 14px; }

.interest-price.block-disable .lbl-main-left label {
  color: #7C7C7C; }

.purchasing-ability {
  padding: 0 13px 15px 13px;
  border-bottom: 1px solid #EAEAEA; }

.lbl-txt-main {
  display: inline-block;
  color: #595959;
  font-size: 13px;
  min-width: 48px;
  margin-right: 14px; }

.currency-unit {
  color: #595959;
  margin-left: 2px; }

.number {
  display: inline-block; }

.charge-tax {
  padding: 15px 13px 0px; }

.sidebar-bottom {
  background: #F9FFF9;
  padding: 20px 29px;
  border-top: 1px dashed #EAEAEA; }
  @media only screen and (max-width: 1600px) {
    .sidebar-bottom {
      padding: 20px 18px; } }
  @media only screen and (max-width: 767px) {
    .sidebar-bottom {
      padding: 20px 9px; } }

.number-money {
  font-size: 16px;
  font-weight: 700;
  color: #45AA1B; }
  .number-money.number-money-red {
    color: #DA2128; }

.txt-plus-money {
  margin-bottom: 3px; }

@media only screen and (max-width: 767px) {
  .plus-money {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px; } }

@media (max-width: 1320px) {
  .sidebar-top .data-filed {
    width: 50%;
    padding: 0 9px;
    float: left; } }
@media only screen and (max-width: 767px) {
  .sidebar-top .data-filed {
    width: 100%; }

  .sidebar-bottom .dp-flex-between {
    display: block; }

  .sidebar .data-filed input, .sidebar .data-filed select {
    margin-bottom: 13px; } }
.btn-process {
  margin: 0 -5px; }
  @media (max-width: 1320px) {
    .btn-process {
      margin: 0 4px; } }
  .btn-process .col-6-5 {
    width: 50%;
    float: left;
    padding: 0 5px; }

.login-wrap {
  position: relative;
  height: 100%;
  background: url("../img/bg-main.png") no-repeat bottom; }

.change-language {
  margin-bottom: 37px; }
  @media only screen and (max-width: 767px) {
    .change-language {
      margin-bottom: 20px; } }
  .change-language li svg {
    vertical-align: text-top; }
  .change-language li span {
    margin-left: 7px;
    color: #5F6775;
    font-size: 16px; }

.logo {
  margin-bottom: 27px; }
  @media only screen and (max-width: 767px) {
    .logo {
      margin-bottom: 20px; } }
  .logo a {
    display: block; }

.txt-login {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px; }
  @media only screen and (max-width: 767px) {
    .txt-login {
      margin-bottom: 20px; } }

.data-filed input:focus ~ label.lbl-field, .data-filed select:focus ~ label.lbl-field, .data-filed textarea:focus ~ label.lbl-field, .data-filed input:valid ~ label.lbl-field, .data-filed select:valid ~ label.lbl-field, .data-filed textarea:valid ~ label.lbl-field, .data-filed input[disabled="disabled"] ~ label.lbl-field:focus ~ label.lbl-field, .data-filed select[disabled="disabled"] ~ label.lbl-field:focus ~ label.lbl-field, .data-filed input[disabled="disabled"] ~ label.lbl-field:valid ~ label.lbl-field, .data-filed select[disabled="disabled"] ~ label.lbl-field:valid ~ label.lbl-field {
  font-size: 12px;
  color: #5F6775;
  top: -9px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0.03, 1);
  padding: 1px 5px; }

.data-filed {
  position: relative; }
  .data-filed input, .data-filed select, .data-filed textarea {
    height: 50px;
    font-size: 14px;
    color: #1a1a1a;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #EAEAEA;
    padding: 15px 18px;
    margin-bottom: 15px;
    outline-color: #F37021;
    font-weight: 500; }
    @media only screen and (max-width: 767px) {
      .data-filed input, .data-filed select, .data-filed textarea {
        margin-bottom: 10px; } }
    .data-filed input:focus ~ label.lbl-field, .data-filed select:focus ~ label.lbl-field, .data-filed textarea:focus ~ label.lbl-field {
      color: #F37021; }
  .data-filed input[disabled="disabled"], .data-filed select[disabled="disabled"] {
    background: #F7F7F7; }
  .data-filed textarea {
    background: #fff;
    height: 86px; }
  .data-filed input {
    background: #fff; }
  .data-filed select {
    cursor: pointer; }
  .data-filed label.lbl-field {
    position: absolute;
    top: 16px;
    left: 14px;
    color: #595959;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    padding: 1px 45px 1px 5px;
    background: #fff;
    border-radius: 3px; }

.data-filed input[disabled="disabled"] ~ label.lbl-field, .data-filed select[disabled="disabled"] ~ label.lbl-field {
  background: transparent; }
  .data-filed input[disabled="disabled"] ~ label.lbl-field:focus ~ label.lbl-field, .data-filed select[disabled="disabled"] ~ label.lbl-field:focus ~ label.lbl-field {
    color: #F37021;
    background: #fff; }
  .data-filed input[disabled="disabled"] ~ label.lbl-field:valid ~ label.lbl-field, .data-filed select[disabled="disabled"] ~ label.lbl-field:valid ~ label.lbl-field {
    background: #fff; }

.txt-authentication {
  background: #EAEAEA;
  height: 50px;
  border-radius: 4px;
  font-size: 26px;
  line-height: 50px;
  text-align: center; }

.btn-login {
  background-image: linear-gradient(to right, #DA2128 0%, #F37021 51%, #DA2128 100%);
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto; }
  .btn-login:hover {
    background-position: 100% center; }

.forgot-password {
  color: #5F6775;
  font-size: 16px; }
  .forgot-password:hover {
    text-decoration: underline;
    color: #5F6775; }

.remember-login {
  cursor: pointer; }
  .remember-login label {
    color: #5F6775;
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer; }

.data-table {
  margin-bottom: 11px; }
  .data-table:first-child .head-search {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px; }

.heading-search-block {
  margin-bottom: 34px; }
  @media only screen and (max-width: 767px) {
    .heading-search-block .view-right {
      display: none; } }

.head-search {
  padding: 21px 27px 6px;
  background: #fff; }
  @media only screen and (max-width: 1600px) {
    .head-search {
      padding: 21px 18px 6px; } }
  @media only screen and (max-width: 767px) {
    .head-search {
      padding: 21px 9px 6px; } }
  .head-search .title-search {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0; }

.item-search {
  width: 273px;
  float: left;
  margin-right: 12px; }
  @media only screen and (max-width: 1600px) {
    .item-search {
      width: 241px; } }
  @media only screen and (max-width: 1600px) {
    .item-search {
      width: 210px; } }
  @media only screen and (max-width: 767px) {
    .item-search {
      width: 100%; } }

.table-wrap {
  padding-bottom: 20px;
  background: #fff;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px; }

.table-wrap .table-block table {
  width: 100%;
  word-wrap: break-word;
  table-layout: fixed; }
  .table-wrap .table-block table thead tr {
    background: #F5F5F6; }
    .table-wrap .table-block table thead tr th {
      font-size: 13px;
      color: #595959;
      border: 1px solid #EAEAEA;
      padding: 15px 30px;
      font-weight: 500; }
      @media only screen and (max-width: 1600px) {
        .table-wrap .table-block table thead tr th {
          padding: 15px 18px; } }
      .table-wrap .table-block table thead tr th.w-225 {
        width: 225px; }
        @media only screen and (max-width: 576px) {
          .table-wrap .table-block table thead tr th.w-225 {
            width: auto; } }
      @media only screen and (max-width: 767px) {
        .table-wrap .table-block table thead tr th {
          padding: 15px 9px; } }
  .table-wrap .table-block table tbody tr {
    background: #fff; }
    .table-wrap .table-block table tbody tr td {
      padding: 15px 30px;
      border: 1px solid #EAEAEA; }
      @media only screen and (max-width: 1600px) {
        .table-wrap .table-block table tbody tr td {
          padding: 15px 18px; } }
      @media only screen and (max-width: 767px) {
        .table-wrap .table-block table tbody tr td {
          padding: 15px 9px; } }
      @media only screen and (max-width: 576px) {
        .table-wrap .table-block table tbody tr td .col-12:first-child {
          margin-bottom: 10px; }
        .table-wrap .table-block table tbody tr td .col-12 {
          text-align: center; } }

.table-wrap .table-block table.tbl-change-info {
  word-wrap: normal;
  table-layout: unset; }
  @media (max-width: 1700px) {
    .table-wrap .table-block table.tbl-change-info {
      word-wrap: break-word;
      table-layout: fixed; } }

.caret-left {
  margin-right: 11px; }
  .caret-left i {
    color: #595959; }

.caret-right {
  margin-left: 11px; }
  .caret-right i {
    color: #595959; }

.view-info {
  position: relative;
  display: block;
  color: #000; }
  .view-info .icon-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: none; }
  .view-info:hover {
    color: #DA2128; }
    .view-info:hover .chang-info {
      background: #FCDBC7;
      color: #DA2128; }
  .view-info:hover .icon-info {
    display: block; }

.view-right img {
  margin-right: 6px;
  vertical-align: text-top; }
.view-right span {
  color: #595959; }
.view-right:hover {
  text-decoration: underline; }

.view-info.chang-info-column:hover .icon-info {
  right: -15px; }

.chang-info {
  display: inline-block;
  padding: 5px 12px;
  background: #F5F5F6;
  color: #595959; }

.get-noti {
  height: 50px;
  color: #1a1a1a;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #EAEAEA;
  padding: 15px 18px;
  margin-bottom: 15px;
  outline-color: #F37021;
  font-weight: 500; }

.choose-gender-block {
  border: 1px solid #eaeaea;
  height: 50px;
  padding: 6px 5px; }
  .choose-gender-block .txt-gender {
    padding-left: 13px; }
  @media only screen and (max-width: 576px) {
    .choose-gender-block {
      height: auto;
      margin-bottom: 10px; }
      .choose-gender-block .dp-flex-between {
        display: block; }
      .choose-gender-block .txt-gender {
        margin-bottom: 10px; } }

.item-gender {
  display: inline-block;
  margin-left: 5px;
  border: 1px solid #f7f7f7;
  border-radius: 3px; }
  .item-gender:first-child {
    margin-left: 0; }
  .item-gender label {
    padding: 9px 37px 8px 5px;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 0;
    cursor: pointer; }
    @media (max-width: 1103px) and (min-width: 992px) {
      .item-gender label {
        padding: 9px 19px 8px 5px; } }
    @media (max-width: 991px) and (min-width: 768px) {
      .item-gender label {
        padding: 9px 4px 8px 0; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .item-gender input[type="radio"] {
      padding: 7px 4px 8px 4px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .item-gender input[type="radio"]:checked:before {
      left: 11px; } }

.attacked-info {
  margin-bottom: 10px; }

.head-profile {
  color: #F37021;
  margin-bottom: 16px; }

.input-file-container {
  position: relative;
  width: 335px;
  display: inline-block;
  margin-right: 15px;
  float: left; }
  @media only screen and (max-width: 576px) {
    .input-file-container {
      width: 100%;
      margin-right: 0; } }
  .input-file-container .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 351px;
    opacity: 0;
    padding: 15px 0;
    cursor: pointer; }
  .input-file-container .input-file-trigger {
    padding: 12px 35px;
    background: #F4F4F4;
    color: #F37021;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border: 1px dashed #CECECE;
    text-align: center;
    width: 100%; }
    .input-file-container .input-file-trigger img {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      width: 38px;
      height: 27px;
      margin-right: 21px; }
    .input-file-container .input-file-trigger .ip-left span {
      vertical-align: middle; }

.input-file-container:hover .input-file-trigger img, .input-file-container:focus .input-file-trigger img, .input-file-container:active .input-file-trigger img {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.item-profile-block {
  float: left;
  width: calc(100% - 350px);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); }
  @media only screen and (max-width: 767px) {
    .item-profile-block {
      width: 100%;
      margin-top: 15px; } }
  @media only screen and (max-width: 576px) {
    .item-profile-block {
      display: block; } }

.file-return {
  position: relative;
  background: #F4F4F4;
  border: 1px solid #EAEAEA;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px 33px 3px 12px;
  color: #7C7C7C;
  border-radius: 3px; }
  .file-return:hover {
    background: #FCDBC7;
    color: #DA2128; }
  .file-return .close-file {
    position: absolute;
    top: 1px;
    right: 5px;
    padding: 2px 4px 2px 5px; }
    .file-return .close-file i {
      color: #7C7C7C; }
  .file-return:hover .close-file i {
    color: #DA2128; }
  .file-return:hover .close-file:hover {
    background: #fff;
    border-radius: 50%; }
  @media only screen and (max-width: 576px) {
    .file-return {
      margin-bottom: 10px; } }

.container-open-acc {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  background: url("../img/bg-open-acc.png") no-repeat top center;
  padding: 283px 18px 0; }
  @media only screen and (max-width: 767px) {
    .container-open-acc {
      padding: 58px 9px 0;
      background: none; } }

.content-open-acc {
  background: #fff;
  padding: 34px 44px;
  border-radius: 10px; }
  @media only screen and (max-width: 767px) {
    .content-open-acc {
      padding: 20px 18px; } }
  @media only screen and (max-width: 576px) {
    .content-open-acc {
      padding: 15px 9px; } }

.title-open-acc {
  margin-bottom: 26px;
  font-weight: 700; }
  @media only screen and (max-width: 767px) {
    .title-open-acc {
      font-size: 21px;
      margin-bottom: 20px; } }

.foot-confirm {
  margin-top: 26px;
  border-top: 1px solid #F37021; }

.accept-terms {
  padding: 22px 0 25px;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .accept-terms {
      padding: 18px 0 18px; } }
  .accept-terms input {
    margin-bottom: 0;
    margin-top: 0; }
  .accept-terms label {
    color: #7C7C7C; }

.btn-cf-term {
  display: flex;
  align-items: center; }
  .btn-cf-term .btn-confirm-mdl {
    white-space: nowrap; }
  .btn-cf-term span {
    display: block;
    margin-left: 24px;
    color: #bfbfbf; }
  @media only screen and (max-width: 767px) {
    .btn-cf-term {
      flex-direction: column-reverse; }
      .btn-cf-term span {
        margin-bottom: 18px;
        text-align: center;
        margin-left: 0; } }

#back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 31px;
  height: 31px;
  background: #164989;
  color: #fff;
  text-align: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: bold;
  background-size: 100% 100%;
  display: none;
  z-index: 100;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  #back-to-top:hover {
    background: #08336b; }

input[type="checkbox"][disabled="disabled"] {
  background: transparent; }

input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin-top: -5px; }

input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff; }

input[type="checkbox"]:checked:after {
  background-color: #F37021;
  border-color: #F37021; }

input[type="checkbox"] ~ label {
  cursor: pointer; }

input[type="radio"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  padding: 7px 5px 8px 15px;
  float: left;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

input[type="radio"]:checked:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  display: table;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top-width: 0px;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #bbb;
  -webkit-transition: 240ms;
  transition: 240ms;
  border-radius: 50%;
  background: #fff; }

input[type="radio"]:checked:after {
  background-color: #F37021;
  border-color: #F37021; }

input[type="radio"]:checked {
  background: #f7f7f7; }

input[type="radio"]:checked ~ label {
  background: #f7f7f7; }

.btn-green {
  background: #45AA1B;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 11px 47px 13px 43px;
  transition: all 0.3s;
  white-space: nowrap; }
  @media only screen and (max-width: 1600px) {
    .btn-green {
      padding: 11px 15px; } }
  @media (max-width: 1320px) {
    .btn-green {
      padding: 11px 42px; } }
  @media only screen and (max-width: 767px) {
    .btn-green {
      width: 100%;
      padding: 12px 15px; } }
  .btn-green:hover {
    background: #47892c;
    transition: all 0.3s; }
  .btn-green.btn-red {
    background: #DA2128; }
    .btn-green.btn-red:hover {
      background: #b8252b; }

.btn-search {
  height: 50px;
  background: #FEF6F1;
  color: #DA2128;
  padding: 15px 101px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  margin-bottom: 15px; }
  @media only screen and (max-width: 1600px) {
    .btn-search {
      padding: 15px 73px; } }
  @media only screen and (max-width: 767px) {
    .btn-search {
      width: 100%; } }
  .btn-search:hover {
    background: #ffc7a4;
    transition: all 0.3s; }

.sell-tb {
  background: #FCDBC7;
  color: #DA2128;
  border: none;
  padding: 3px 25px;
  border-radius: 2px; }
  .sell-tb:hover {
    background: #DA2128;
    color: #fff; }

.buy-tb {
  background: #E0FFD2;
  color: #45AA1B;
  border: none;
  padding: 3px 25px;
  border-radius: 2px; }
  .buy-tb:hover {
    background: #45AA1B;
    color: #fff; }

@media only screen and (max-width: 767px) {
  .item-search .data-filed input, .item-search .data-filed select {
    margin-bottom: 15px; } }
.btn-main {
  width: 100%;
  border-radius: 4px;
  height: 41px;
  border: none;
  color: #fff;
  transition: all 0.3s; }

.btn-cancel {
  background: #999; }
  .btn-cancel:hover {
    background: #737373;
    transition: all 0.3s; }

.btn-confirm {
  background: radial-gradient(202.33% 683.91% at -13.58% -34.51%, #DA2128 35.6%, #F37021 100%); }
  .btn-confirm:hover {
    background: radial-gradient(202.33% 683.91% at -13.58% -34.51%, #ff4a51 35.6%, #F37021 100%);
    transition: all 0.3s; }

.btn-confirm-mdl {
  background: #F37021;
  text-transform: uppercase;
  padding: 14px 111px;
  border-radius: 4px;
  color: #fff;
  border: none;
  transition: all 0.3s; }
  .btn-confirm-mdl:hover {
    background: #e75801;
    transition: all 0.3s; }

.btn-close {
  position: absolute;
  top: 29px;
  right: 35px;
  padding: 5px 7px;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
