// ======================================================
// Base :: Global
// ======================================================

*,*:before,*:after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-family: "SVN-Gotham Rounded";
  font-weight: 500;

}
.body-wrap{
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
html, body {
  height: 100%;
}
.wrapper {
  //min-height: 100%;
  //height: auto;
  //margin: 0 auto -147px;
  //background: #D3D8DD;
  //overflow: hidden;
  //position: relative;
  //max-width: 1920px;
  //width: 100%;
}
.main{
  //padding-top: 76px;
  //@include tablet{
  //  padding-top: 66px;
  //}
  //@include mobile-horizontal{
  //  padding-top: 86px;
  //}
}
.push{
  height: 147px;
}
.dp-flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay{
  background: rgba(22, 73, 137, 0.38823529411764707);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  position: relative;
  background: url("../img/icon-caret-down-02.svg");
  background-repeat: no-repeat;
  background-position: center right 16px;
  background-size: 8px 5px;
  &.select-icon-up{
    background: $c-wh url("../img/icon-up-select-03.svg") no-repeat;
    background-position: center right 16px;
    background-size: 8px 5px;
  }
}
.zone-white{
  background: $c-wh;
  overflow: hidden;
  border-radius: 6px;
  height: 100%;
  min-height: 577px;
  @include mobile-horizontal{
    min-height: auto;
  }
}

//style error validate

label.error {
  color: #ED1111;
  padding-top: 0;
  padding-left: 24px;
  background: url(../img/icon-checkvalidate.svg) no-repeat top 0 left;
  background-size: 16px;
  margin-bottom: 15px;
  @include mobile-horizontal{
    margin-bottom: 10px;
  }
}

//css popup



.datepicker-msb-none {
  background: #fff url(../img/icon-cacular.svg) no-repeat center right 12px!important;
  cursor: pointer;
}
input[name="daterange"]{
  background: #fff url(../img/icon-cacular.svg) no-repeat center right 12px!important;
  cursor: pointer;
}

.main-wrap{
  background: #f4f3f3;
  position: relative;
  min-height: 100vh;
  padding: 41px 38px;
  padding-top: 132px;
  @include lessdesktop{
    padding: 118px 18px 41px;
  }
  @include mobile-horizontal{
    padding: 70px 9px 6px;
  }
  &.cs-pd{
    padding: 0 0 40px;
  }
}
input[disabled="disabled"]{
  background: #F4F4F4;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
}
.status-pending{
  color: #D19809;
}
.status-approved{
  color: #45AA1B;
}
.status-cancelled{
  color: #DA2128;
}


.overlay{
  background: #000;
  opacity: 0.5;
  z-index: 1;
  cursor: pointer;
}
.user-block.btn-lightx{
  background: radial-gradient(122.58% 519.4% at 2.45% 8.6%, #DA2128 35.6%, #F37021 100%)!important;

}
@include mobile-horizontal{
  .user-block.btn-lightx{
    position: relative;
    background: transparent!important;
    &:after{
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border: 2px solid #EF6222;
      border-radius: 50%;
    }
  }

}
.user-block.btn-lightx .name-user{
  color: #fff;
}
.user-block.btn-lightx .txt-name-user,.user-block.btn-lightx .name-user .id-user{
  color: #fff!important;
}

.user-block.btn-lightx  .name-user .id-user{
  color: #fff;
}
@include mobile-horizontal{
  .hidden-mb{
    display: none;
  }
}

//css popup
.modal-msb{
  -webkit-filter: blur(.0px);
}

.size-modal-big{
  max-width: 62%;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 1700px) {
    max-width: 1200px;

  }
}
.mdl-main{
  padding: 41px 29px 17px;
}
.modal-content{
  margin: 50px 0;
}
.heading-popup{
  font-size: 31px;
  line-height:  36px;
  margin-bottom: 23px;
  padding-left: 11px;
}
.flow-auto{
  max-height: calc(100vh - 385px);
  overflow: auto;
  padding: 0 15px;
  /* width */
  &::-webkit-scrollbar {
    width: 9px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #DBDBDB;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #DBDBDB;
    border-radius: 10px;
  }
}
.head-panel{
  font-size: 20px;
  margin-bottom: 24px;
  color: #F37021;
}
.item-zone-panel{
  margin-bottom: 19px;
}
.mdl-footer{
  padding: 0 44px 23px;
  text-align: right;
  .btn-group-foot{
    border-top: 1px solid #F37021;
    padding: 30px 0;
  }
}