// ======================================================
// Layout :: Content
// ======================================================

.login-wrap{
  position: relative;
  height: 100%;
  background: url("../img/bg-main.png") no-repeat bottom ;
}
.login-block{

}
.change-language{
  margin-bottom: 37px;
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
  li{
    svg{
      vertical-align: text-top;
    }
    span{
      margin-left: 7px;
      color: $c-gray;
      font-size: 16px;
    }
  }
}
.logo{
  margin-bottom: 27px;
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
  a{
    display: block;
  }
  //svg{
  //  @include mobile-horizontal{
  //    height: 45px;
  //  }
  //}
}
.txt-login{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
}

%label-movement{
  font-size: 12px;
  color: $c-gray;
  top: -9px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0.03, 1);
}
.data-filed{
  position: relative;

  input,select,textarea{
    height: 50px;
    font-size: 14px;
    color: $c-black;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #EAEAEA;
    padding: 15px 18px;
    margin-bottom: 15px;
    outline-color: #F37021;
    font-weight: 500;
    @include mobile-horizontal{
      margin-bottom: 10px;
    }
    &:focus{
      ~ label.lbl-field{
        @extend %label-movement;
        color: #F37021;
      }
    }
    &:valid ~ label.lbl-field {
      // Keep label above field after its filled out
      @extend %label-movement;
    }
  }
  input[disabled="disabled"],select[disabled="disabled"]{
    background: #F7F7F7;
  }
  textarea{
    background: $c-wh;
    height: 86px;
  }
  input{
    background: $c-wh;
  }
  select{
    cursor: pointer;
  }
  label.lbl-field{
    position: absolute;
    top: 17px;
    left: 14px;
    color: #595959;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    padding: 0 5px;
    background: $c-wh;
    border-radius: 3px;
  }
}
.txt-authentication{
  background: #EAEAEA;
  height: 50px;
  border-radius: 4px;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
}
.btn-login{
  background-image: linear-gradient(to right, #DA2128 0%, #F37021 51%, #DA2128 100%);
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 16px;
  color: $c-wh;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  &:hover{
    background-position: 100% center;
  }
}
.forgot-password{
  color: #5F6775;
  font-size: 16px;
  &:hover{
    text-decoration: underline;
    color: #5F6775;
  }
}
.remember-login{
  cursor: pointer;
  label{
    color: #5F6775;
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer;
  }
}
.data-table{
  margin-bottom: 11px;
  &:first-child .head-search{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
}
.heading-search-block{
  margin-bottom: 34px;
  @include mobile-horizontal{
    .view-right{
      display: none;
    }
  }
}
.head-search{
  padding: 21px 27px 6px;
  background: $c-wh;
  @include lessdesktop{
    padding: 21px 18px 6px;
  }
  @include mobile-horizontal{
    padding: 21px 9px 6px;
  }
  .title-search{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
  }
}
.item-search{
  width: 273px;
  float: left;
  margin-right: 12px;
  @include lessdesktop{
    width: 241px;
  }
  @include lessdesktop{
    width: 210px;
  }
  @include mobile-horizontal{
    width: 100%;
  }
}
.table-wrap {
  padding-bottom: 20px;
  background: #fff;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}
.table-wrap{
  .table-block{
    table{
      width: 100%;
      word-wrap: break-word;
      table-layout: fixed;
      thead{
        tr{
          background: #F5F5F6;
          th{
            font-size: 13px;
            color: $c-59;
            border: 1px solid #EAEAEA;
            padding: 15px 30px;
            font-weight: 500;
            @include lessdesktop{
              padding: 15px 18px;
            }
            &.w-225{
              width: 225px;
              @include mobile{
                width: auto;
              }
            }
            @include mobile-horizontal{
              padding: 15px 9px;
            }
          }
        }
      }
      tbody{
        tr{
          background: $c-wh;
          td{
            padding: 15px 30px;
            border: 1px solid #EAEAEA;
            @include lessdesktop{
              padding: 15px 18px;
            }
            @include mobile-horizontal{
              padding: 15px 9px;
            }
            @include mobile{
              .col-12:first-child{
                margin-bottom: 10px;
              }
              .col-12{
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
.caret-left{
  margin-right: 11px;
  i{
    color: #595959;
  }
}
.caret-right{
  margin-left: 11px;
  i{
    color: #595959;
  }
}
.view-info{
  position: relative;
  display: block;
  color: #000;
  .icon-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: none;
  }
  
  &:hover{
    color: #DA2128;
    .chang-info{
      background: #FCDBC7;
      color: #DA2128;
    }
  }
  &:hover .icon-info{
    display: block;
  }

}
.view-right{
  img{
    margin-right: 6px;
    vertical-align: text-top;
  }
  span{
    color: $c-59;
  }
  &:hover{
    text-decoration: underline;
  }
}
.view-info.chang-info-column{
  &:hover .icon-info{
    right: -15px;
  }
}
.chang-info{
  display: inline-block;
  padding: 5px 12px;
  background: #F5F5F6;
  //color: #DA2128;
  color: #595959;
}