// ======================================================
// Layout :: Content
// ======================================================

.login-wrap{
  position: relative;
  height: 100%;
  background: url("../img/bg-main.png") no-repeat bottom ;
  background-size: cover;
}
.login-block{

}
.change-language{
  margin-bottom: 37px;
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
  li{
    svg{
      vertical-align: text-top;
    }
    span{
      margin-left: 7px;
      color: $c-gray;
      font-size: 16px;
    }
  }
}
.logo{
  margin-bottom: 27px;
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
  a{
    display: block;
  }
  //svg{
  //  @include mobile-horizontal{
  //    height: 45px;
  //  }
  //}
}
.txt-login{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
}

%label-movement{
  font-size: 12px;
  color: $c-gray;
  top: -9px;
  transition: all 0.3s cubic-bezier(0.2, 0, 0.03, 1);
  padding: 1px 5px;
}
.data-filed{
  position: relative;

  input,select,textarea{
    height: 50px;
    font-size: 14px;
    color: $c-black;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #EAEAEA;
    padding: 15px 18px;
    margin-bottom: 15px;
    outline-color: #F37021;
    font-weight: 500;
    @include mobile-horizontal{
      margin-bottom: 10px;
    }
    &:focus{
      ~ label.lbl-field{
        @extend %label-movement;
        color: #F37021;
      }
    }
    &:valid ~ label.lbl-field {
      // Keep label above field after its filled out
      @extend %label-movement;
    }
  }
  input[disabled="disabled"],select[disabled="disabled"]{
    background: #F7F7F7;
  }
  textarea{
    background: $c-wh;
    height: 86px;
  }
  input{
    background: $c-wh;
  }
  select{
    cursor: pointer;
  }
  label.lbl-field{
    position: absolute;
    top: 16px;
    left: 14px;
    color: #595959;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
    padding: 1px 45px 1px 5px;
    background: $c-wh;
    border-radius: 3px;
  }
}
.data-filed{
  input[disabled="disabled"] ~ label.lbl-field,select[disabled="disabled"] ~ label.lbl-field{
    background: transparent;
    &:focus{
      ~ label.lbl-field{
        @extend %label-movement;
        color: #F37021;
        background: $c-wh;
      }
    }
    &:valid ~ label.lbl-field {
      // Keep label above field after its filled out
      @extend %label-movement;
      background: $c-wh;
    }
  }
}
.txt-authentication{
  background: #EAEAEA;
  height: 50px;
  border-radius: 4px;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
}
.btn-login{
  background-image: linear-gradient(to right, #DA2128 0%, #F37021 51%, #DA2128 100%);
  width: 100%;
  height: 50px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 16px;
  color: $c-wh;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;
  position: relative;
  background-size: 200% auto;
  &:hover{
    background-position: 100% center;
  }
}
.forgot-password{
  color: #5F6775;
  font-size: 16px;
  &:hover{
    text-decoration: underline;
    color: #5F6775;
  }
}
.remember-login{
  cursor: pointer;
  label{
    color: #5F6775;
    font-size: 16px;
    margin-bottom: 0;
    cursor: pointer;
  }
}
.data-table{
  margin-bottom: 11px;
  &:first-child .head-search{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
}
.heading-search-block{
  margin-bottom: 34px;
  @include mobile-horizontal{
    .view-right{
      display: none;
    }
  }
  @include mobile-horizontal{
    margin-bottom: 20px;
  }
}
.head-search{
  padding: 21px 27px 6px;
  background: $c-wh;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  @include lessdesktop{
    padding: 21px 18px 6px;
  }
  @include mobile-horizontal{
    padding: 21px 9px 6px;
  }
  .title-search{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
  }
}
.item-search{
  width: 273px;
  float: left;
  margin-right: 12px;
  @include lessdesktop{
    width: 241px;
  }
  @include lessdesktop{
    width: 210px;
  }
  @include mobile-horizontal{
    width: 100%;
  }
}
.table-wrap {
  padding-bottom: 20px;
  background: #fff;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}
.table-wrap{
  .table-block{
    table{
      width: 100%;
      word-wrap: break-word;
      table-layout: fixed;
      thead{
        tr{
          background: #F5F5F6;
          th{
            font-size: 13px;
            color: $c-59;
            border: 1px solid #EAEAEA;
            padding: 15px 30px;
            font-weight: 500;
            @include lessdesktop{
              padding: 15px 18px;
            }
            &.w-225{
              width: 225px;
              @include mobile{
                width: auto;
              }
            }
            @include mobile-horizontal{
              padding: 15px 9px;
            }
          }
        }
      }
      tbody{
        tr{
          background: $c-wh;
          td{
            padding: 15px 30px;
            border: 1px solid #EAEAEA;
            @include lessdesktop{
              padding: 15px 18px;
            }
            @include mobile-horizontal{
              padding: 15px 9px;
            }
            @include mobile{
              .col-12:first-child{
                margin-bottom: 10px;
              }
              .col-12{
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
.table-wrap .table-block table.tbl-change-info{
  word-wrap: normal;
  table-layout: unset;
  @media (max-width: 1700px) {
      word-wrap: break-word;
      table-layout: fixed;
  }
}

.caret-left{
  margin-right: 11px;
  i{
    color: #595959;
  }
}
.caret-right{
  margin-left: 11px;
  i{
    color: #595959;
  }
}
.view-info{
  position: relative;
  display: block;
  color: #000;
  .icon-info{
    //position: absolute;
    //top: 50%;
    //transform: translateY(-50%);
    //right: 0;
    //display: none;
    padding-left: 5px;
    vertical-align: text-bottom;
  }
  
  &:hover{
    color: #DA2128;
    .chang-info{
      background: #FCDBC7;
      color: #DA2128;
    }
  }
  //&:hover .icon-info{
  //  display: block;
  //}

}
.view-right{
  color: $c-59;
  img{
    margin-right: 6px;
    vertical-align: text-top;
  }
  span{

  }
  &:hover{
    text-decoration: underline;
    color: $c-or;
  }
}
.view-info.chang-info-column{
  &:hover .icon-info{
    right: -15px;
  }
}
.chang-info{
  display: inline-block;
  padding: 5px 12px;
  background: #F5F5F6;
  //color: #DA2128;
  color: #595959;
}

.get-noti{
  height: 50px;
  color: #1a1a1a;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #EAEAEA;
  padding: 15px 18px;
  margin-bottom: 15px;
  outline-color: #F37021;
  font-weight: 500;
}
.choose-gender-block{
  border: 1px solid #eaeaea;
  height: 50px;
  padding: 6px 5px;
  .txt-gender{
    padding-left: 13px;
  }
  @include mobile{
    height: auto;
    margin-bottom: 10px;
    .dp-flex-between{
      display: block;
    }
    .txt-gender{
      margin-bottom: 10px;
    }
  }
}
.item-gender{
  display: inline-block;
  margin-left: 5px;
  border: 1px solid #f7f7f7;
  border-radius: 3px;
  &:first-child{
    margin-left: 0;
  }
  label{
    padding: 9px 37px 8px 5px;
    float: left;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 0;
    cursor: pointer;
    @media (max-width: 1103px) and (min-width: 992px) {
      padding: 9px 19px 8px 5px;
    }
    @media (max-width: 991px) and (min-width: 768px) {
      padding: 9px 4px 8px 0;
    }
  }
  input[type="radio"]{
    @media (max-width: 991px) and (min-width: 768px) {
      padding: 7px 4px 8px 4px;
    }
  }
  input[type="radio"]:checked:before{
    @media (max-width: 991px) and (min-width: 768px) {
      left: 11px;
    }
  }
}
.attacked-info{
  margin-bottom: 10px;
}
.head-profile{
  color: #F37021;
  margin-bottom: 16px;
}

.input-file-container{
  //position: relative;
  //width: 351px;
  //display: inline-block;
  //margin-right: 15px;

  position: relative;
  width: 335px;
  display: inline-block;
  margin-right: 15px;
  float: left;
  @include mobile{
    width: 100%;
    margin-right: 0;
  }
  .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 351px;
    opacity: 0;
    padding: 15px 0;
    cursor: pointer;
    @include mobile{
      width: 100%;
    }
  }
  .input-file-trigger {
    padding: 12px 35px;
    background: #F4F4F4;
    color: #F37021;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border: 1px dashed #CECECE;
    text-align: center;
    width: 100%;
    img{
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      width: 38px;
      height: 27px;
      margin-right: 21px;
    }
    .ip-left{
      span{
        vertical-align: middle;
      }
    }
  }
}
.input-file-container:hover .input-file-trigger img,.input-file-container:focus .input-file-trigger img,.input-file-container:active .input-file-trigger img{
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.item-profile-block{
  //height: 54px;
  //display: grid;
  //grid-template-columns: auto auto auto auto;

  //display: inline-grid;
  //grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  //grid-gap: 1rem;
  float: left;
  width: calc(100% - 350px);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  @include mobile-horizontal{
    width: 100%;
    margin-top: 15px;
  }
  @include mobile{
    display: block;
  }
}
.file-return{
  position: relative;
  background: #F4F4F4;
  border: 1px solid #EAEAEA;
  //width: 245px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 3px 33px 3px 12px;
  color: #7C7C7C;
  border-radius: 3px;
  //margin-bottom: 6px;

  &:hover{
    background: #FCDBC7;
    color: #DA2128;

  }
  .close-file{
    position: absolute;
    top: 1px;
    right: 5px;
    padding: 2px 4px 2px 5px;
    i{
      color: #7C7C7C;
    }
  }
  &:hover{
    .close-file i{
      color: #DA2128;
    }
    .close-file:hover{
      background: #fff;
      border-radius: 50%;
    }
  }
  @include mobile{
    margin-bottom: 10px;
  }
}

.container-open-acc{
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  background: url("../img/bg-open-acc.png") no-repeat top center;
  padding: 283px 18px 0;
  @include mobile-horizontal{
    padding: 58px 9px 0;
    background: none;
  }
}
.content-open-acc{
  background: $c-wh;
  padding: 34px 44px;
  border-radius: 10px;
  @include mobile-horizontal{
    padding: 20px 18px;
  }
  @include mobile{
    padding: 15px 9px;
  }
}
.title-open-acc{
  margin-bottom: 26px;
  font-weight: 700;
  @include mobile-horizontal{
    font-size: 21px;
    margin-bottom: 20px;
  }
}
.foot-confirm{
  margin-top: 26px;
  border-top: 1px solid #F37021;
}
.accept-terms{
  padding: 22px 0 25px;
  display: flex;
  align-items: center;
  @include mobile-horizontal{
    padding: 18px 0 18px;
  }
  input{
    margin-bottom: 0;
    margin-top: 0;

  }
  label{
    color: #7C7C7C;
  }
}
.btn-cf-term{
  display: flex;
  align-items: center;
  .btn-confirm-mdl{
    white-space: nowrap;
  }

  span{
    display: block;
    margin-left: 24px;
    color: #bfbfbf;
  }
  @include mobile-horizontal{
    flex-direction: column-reverse;
    span{
      margin-bottom: 18px;
      text-align: center;
      margin-left: 0;
    }
  }
}

//.file-return1 { grid-area: 1 / 3 / 2 / 4; }
//.file-return2 { grid-area: 2 / 3 / 3 / 4; }
//.file-return3 { grid-area: 1 / 1 / 2 / 2; }
//.file-return4 { grid-area: 1 / 2 / 2 / 3; }
//.file-return5 { grid-area: 2 / 1 / 3 / 2; }
