// ======================================================
// Layout :: Grid
// ======================================================

.container-login{
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  @include tablet{
    width: 600px;
  }
  @include mobile-horizontal{
    width: 100%;
  }
}
.row-login{
  margin: 0 -4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-vsd{
  margin: 0 -6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-pc-6{
  padding: 0 10px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}
.col-msb-30{
  padding: 0 15px;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  @include tablet{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}
.col-msb-70{
  padding: 0 15px;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
  @include tablet{
    display: none;
  }
}
.col-login-6{
  padding: 0 4px;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.row-msb-9{
  margin: 0 -9px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-msb-22{
  padding: 0 9px;
  -ms-flex: 0 0 22%;
  flex: 0 0 22%;
  max-width: 22%;
  position: relative;
  @media (max-width: 1320px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-msb-78{
  padding: 0 9px;
  -ms-flex: 0 0 78%;
  flex: 0 0 78%;
  max-width: 78%;
  position: relative;
  @media (max-width: 1320px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.col-msb-12{
  padding: 0 9px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.row-pc{
  margin: 0 -12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-pc-4{
  padding: 0 9px;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}