// ======================================================
// Layout :: Header
// ======================================================
header{
  background: #fff;
  z-index: 9;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.102);
  position: fixed;
  width: 100%;
}
.head-msb{
  padding: 0 30px 0 39px;

  @include lessdesktop{
    padding: 0 18px;
  }
  @include mobile-horizontal{
    padding: 0 9px;
  }

  .head-left{
    @include mobile-horizontal{
      position: relative;
    }
    .menu-private{
      float: left;
      margin-top: 35px;
      margin-bottom: 33px;
      @include tablet{
        margin-top: 24px;
        margin-bottom: 26px;
      }
      @include mobile-horizontal{
        margin-top: 12px;
        margin-bottom: 12px;
      }
      button{
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
      }

    }
    .logo-msb{
      float: left;
      margin: 19px 73px 23px 34px;
      @media (min-width: 1200px) and (max-width: 1236px) {
        margin: 19px 35px 23px 34px;
      }
      @media (min-width: 992px) and (max-width: 1080px) {
        margin: 19px 13px 23px!important;
      }
      @include tablet-horizontal{
        margin: 19px 19px 23px;
      }
      @include tablet{
        margin: 8px 19px 17px;
      }
      @include mobile-horizontal{
        margin: 1px 19px 8px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: -4px;
      }
      h1{
        margin-bottom: 0;
        a{
          img{
            height: 43px;
            @include tablet{
              height: 30px;
            }
            @media (min-width: 992px) and (max-width: 1080px) {
              height: 30px;
            }
          }
        }
      }
    }
  }
}

.notification{
  display: inline-block;
  height: 51px;
  width: 51px;
  border: 1px solid #E5E5E5;
  border-radius: 50%;
  text-align: center;
  line-height: 46px;
  transition: all 0.3s;
  @include mobile-horizontal{
    width: 32px;
    height: 32px;
    line-height: 28px;
  }
  img:first-child{
    display: inline-block;
  }
  img:last-child{
    display: none;
  }
  &:hover{
    background: #E33C26;
    transition: all 0.3s;
    img:first-child{
      display: none;
    }
    img:last-child{
      display: inline-block;
    }
  }
}
.user-block{
  position: relative;
  display: inline-block;
  border: 1px solid #E5E5E5;
  padding: 7px 46px 7px 10px;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s;
  @media (min-width: 992px) and (max-width: 1080px) {
    margin-left: 0;
    padding-right: 26px;
  }
  @include mobile-horizontal{
    margin-left: 3px;
    padding: 0;
    border: none;

  }
  &:hover{
    transition: all 0.2s;
    background: radial-gradient(122.58% 519.4% at 2.45% 8.6%, #DA2128 35.6%, #F37021 100%);
    @include tablet{
      background: none;
      //border: 1px solid #DA2128;
    }
    .name-user{
      color: $c-wh;
      .id-user{
        color: $c-wh;
        @include tablet{
          color: #7f7f7f;
        }
      }
      @include tablet{
        color: #000;
      }
    }
  }
  .avatar-user{
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 31px;
    background: #f9f9f9;
    border-radius: 50%;
    margin-right: 19px;
    @include mobile-horizontal{
      margin-right: 0;
    }
  }
  .name-user{
    font-size: 16px;
    @include mobile-horizontal{
      display: none;
    }
    .id-user{
      color: #7f7f7f;
      font-size: 12px;
    }
    .txt-name-user {
      margin-bottom: 2px;
    }
  }
}

.user-block:hover .info-user-wrap{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  animation: cubic-block 0.3s forwards;
  @include tablet{
    animation: none;
  }

}
.info-user-wrap{
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 24px;
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  @include tablet{
    opacity: 1;
    visibility: visible;
    animation: none;
  }
  @include mobile-horizontal{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    animation: unset;
    top: 39px;
    bottom: 0;
    padding: 24px 9px 0;
    height: 100%;
  }

  .info-user-block{
    width: 486px;
    padding: 44px 54px 70px 54px;
    background: #fff;
    position: relative;
    border-radius: 26px;
    box-shadow: 7px 7px 20px #cbcbcb;
    @include lessdesktop{
      padding: 17px 18px 30px 18px;
      width: 362px;
    }
    @include mobile-horizontal{
      border-radius: 10px;
      width: 100%;
      height: calc(100vh - 71px);
    }
    &:before{
      content: '';
      position: absolute;
      top: -7px;
      right: 40px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      @include mobile-horizontal{
        right: 10px;
      }
    }
    .avt-detail{
      display: block;
      width: 198px;
      height: 198px;
      border-radius: 50%;
      position: relative;
      margin-bottom: 78px;
      @include lessdesktop{
        width: 114px;
        height: 114px;
        margin-bottom: 16px;

      }
      img{
        @include resize-img;
      }
      &:before{
        @include resize-before(100%);
      }
      .name-user-detail{
        display: block;
        width: 261px;
        color: #fff;
        font-size: 23px;
        font-weight: 700;
        background: radial-gradient(102.91% 383.02% at 2.97% -24.08%, #DA2128 35.6%, #F37021 100%);
        position: absolute;
        left: 50%;
        bottom: 0px;
        padding: 24px 0;
        text-align: center;
        border-radius: 59px;
        @include lessdesktop{
          padding: 15px 27px;
          width: auto;
          white-space: nowrap;
        }
      }
    }
  }
}
.info-user-detail{
  border-bottom: 1px solid #EAEAEA;
  padding: 20px 0;
  &:first-child{
    border-top: 1px solid #EAEAEA;
  }
}
.title-user-left{
  font-size: 13px;
}
.info-user-right{
  font-weight: 600;
  word-wrap: break-word;
}
.user-detail-block{
  margin-bottom: 72px;
  @include lessdesktop{
    margin-bottom: 21px;
  }
}
.btn-logout {
  padding: 24px 0;
  border: none;
  background: #EAEAEA;
  color: #636363;
  font-weight: 700;
  border-radius: 50px;
  text-align: center;
  width: 261px;
  display: block;
  margin: 0 auto 21px auto;
  font-size: 17px;
  @include lessdesktop{
    padding: 13px 44px;
    width: auto;
  }
  &:hover{
    color: #fff;
    background: radial-gradient(102.91% 383.02% at 2.97% -24.08%, #DA2128 35.6%, #F37021 100%);  }
}


.change-password {
  font-weight: 700;
  color: #D35416;
  text-align: center;
  &:hover{
    color: #DA2128;
    text-decoration: underline;
  }
}


//css line
.line-main{
  background: #000;
  width: 23px;
  height: 4px;
  border-radius: 10px;
  display: block;
  margin-bottom: 5px;
  pointer-events: none;
  transition: all 0.3s;
  &:last-child{
    margin-bottom: 0;
  }
}
.change-icon-mb{
  .line-1{
    transform: translateY(9px) translateX(0) rotate(45deg);
    transition: all 0.3s;
  }
  .line-2{
    opacity: 0;
    transition: all 0.3s;
  }
  .line-3{
    transform: translateY(-9px) translateX(0) rotate(-46deg);
    transition: all 0.3s;
  }
}