// ======================================================
// Layout :: Navigation
// ======================================================
.navigation{
  float: left;
  z-index: 999;
  @include tablet{
    display: block;
    position: fixed;
    top: 75px;
    left: 0;
    height: calc(100vh - 75px);
    background: #fff;
    width: 361px;
    padding: 0 30px;
    border-top: 1px solid #eaeaea;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  @include mobile-horizontal{
    top: 49px;
    padding: 0 9px;
    height: calc(100vh - 49px);
  }
  @include mobile{
    width: 100%;
  }
}
.navigation.open-mb{
  display: block;
  transform: translateX(0);
  transition: all 0.3s;
}
.menu{
  >li{
    float: left;
    margin: 0 18px;
    position: relative;
    @include tablet-horizontal{
      margin: 0 9px;
    }
    @include tablet{
      display: block;
      float: unset;
      border-bottom: 1px solid #EAEAEA;
      margin: 0;
      cursor: pointer;
    }
    &.active > a{
      color: $c-or;
    }
    &.active > a:after{
      transform: translateX(-50%) scaleX(1);
      @include tablet{
        transform: scale(1);
        width: 100%;
      }
    }
    > a{
      display: block;
      padding: 38px 0 39px;
      color: #303030;
      font-weight: 700;
      transition: all 0.3s;
      position: relative;
      i{
        margin-left: 5px;
        transition: all 0.3s;
        @include tablet{
          position: absolute;
          right: 7px;
        }
      }
      @include tablet{
        display: inline-block;
        padding: 17px 0;
      }
      &:hover{
        color: $c-or;
        transition: all 0.3s;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5px;
        transform: translateX(-50%) scaleX(0);
        left: 50%;
        background: $c-or;
        z-index: 1;
        pointer-events: none;
        border-radius: 30px;
        transition: all 0.3s;
        @include tablet{
          //left: 0;
          //transform: scale(1);
          //width: 0;
          //height: 1px;
          display: none;
        }

      }
      &:hover:after{
        transform: translateX(-50%) scaleX(1);
        transition: all 0.3s;
        @include tablet{
          transform: scale(1);
          width: 100%;
        }
      }
      @include tablet{
        position: unset;
      }
    }
    &.rotate-up{
      >a{
        i{
          transform: rotate(180deg);
          transition: all 0.3s;
        }
      }
    }

    .nav-dropdown{
      width: 300px;
      background: #fff;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.14);
      display: none;
      border-radius: 5px;
      padding: 10px 10px;
      li{
        display: block;
        border-bottom: 1px solid #EAEAEA;
        &:last-child{
          border-bottom: none;
        }
        a{
          position: relative;
          display: block;
          padding: 15px 5px;
          transition: all 0.3s;
          &:hover{
            color: $c-or;
            transition: all 0.3s;
            padding-left: 12px;
            &:before{
              opacity: 1;
              left: 0;
              transition: all 0.3s;
            }
          }
          &:before{
            content: "\f0da";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -5px;
            font: normal normal normal 14px/1 FontAwesome;
            color: $c-or;
            opacity: 0;
            transition: all 0.3s;
          }

        }
      }
      @include tablet{
        display: block;
        position: relative;
        width: 100%;
        left: 0;
        transform: unset;
        padding: 0;
        box-shadow: none;
        padding-left: 9px;
        border-top: 1px solid #EAEAEA;
      }
    }
    &:hover{
      >a{
        color: $c-or;
        &:after{
          transform: translateX(-50%) scaleX(1);
        }

      }
      .nav-dropdown{
        display: block;
      }
    }
  }

}
