// ======================================================
// Layout :: Navigation
// ======================================================
.navigation{
  float: left;
  z-index: 999;
  @include tablet{
    display: block;
    position: fixed;
    top: 75px;
    left: 0;
    height: calc(100vh - 75px);
    background: #fff;
    width: 361px;
    padding: 0 30px;
    border-top: 1px solid #eaeaea;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
  @include mobile-horizontal{
    top: 49px;
    padding: 0 9px;
    height: calc(100vh - 49px);
  }
  @include mobile{
    width: 100%;
  }
}
.navigation.open-mb{
  display: block;
  transform: translateX(0);
  transition: all 0.3s;
}
.menu{
  li{
    float: left;
    margin: 0 18px;
    position: relative;
    @include tablet-horizontal{
      margin: 0 9px;
    }
    @include tablet{
      display: block;
      float: unset;
      border-bottom: 1px solid #EAEAEA;
      margin: 0;

    }
    &.active a{
      color: $c-or;
    }
    &.active a:after{
      transform: translateX(-50%) scaleX(1);
      @include tablet{
        transform: scale(1);
        width: 100%;
      }
    }
    a{
      display: block;
      padding: 38px 0 39px;
      color: #303030;
      font-weight: 700;
      transition: all 0.3s;
      position: relative;
      @include tablet{
        padding: 17px 0;
      }
      &:hover{
        color: $c-or;
        transition: all 0.3s;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5px;
        transform: translateX(-50%) scaleX(0);
        left: 50%;
        background: $c-or;
        z-index: 1;
        pointer-events: none;
        border-radius: 30px;
        transition: all 0.3s;
        @include tablet{
          left: 0;
          transform: scale(1);
          width: 0;
          height: 1px;
        }
      }
      &:hover:after{
        transform: translateX(-50%) scaleX(1);
        transition: all 0.3s;
        @include tablet{
          transform: scale(1);
          width: 100%;
        }
      }
    }

  }
}

//.menu{
//  li{
//    float: left;
//    padding: 0 18px;
//    position: relative;
//    cursor: pointer;
//    &.active a{
//      color: $c-or;
//    }
//    &.active:after{
//      transform: translateX(-50%) scaleX(1);
//    }
//    a{
//      display: block;
//      padding: 35px 0 39px;
//      color: #303030;
//      font-weight: 700;
//      transition: all 0.3s;
//      position: relative;
//      &:hover{
//        color: $c-or;
//        transition: all 0.3s;
//      }
//      &:after{
//        content: '';
//        position: absolute;
//        bottom: 0;
//        width: 100%;
//        height: 5px;
//        transform: translateX(-50%) scaleX(0);
//        left: 50%;
//        background: $c-or;
//        z-index: 1;
//        pointer-events: none;
//        border-radius: 30px;
//
//      }
//    }
//    &:hover{
//      a{
//        &:after{
//          transform: translateX(-50%) scaleX(1);
//          transition: all 0.3s;
//        }
//      }
//    }
//
//  }
//}