// ======================================================
// Layout :: Sidebar
// ======================================================

.sidebar{
  background: #fff;
  border-radius: 11px;
  overflow: hidden;
  @media (max-width: 1320px) {
    margin-bottom: 15px;
  }
}
.txt-heading{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;

}
.sidebar-heading{
  padding: 16px 31px;
  @include lessdesktop{
    padding: 16px 18px;
  }
  @include mobile-horizontal{
    padding: 16px 9px;
  }
}
.tab-content{

}
.nav-tabs{
  border-bottom: 0;
  .nav-item{
    display: inline-block;
    &:last-child .nav-link:hover{
      background: #DA2128;
    }
    &:last-child .nav-link.active{
      background: #DA2128;
    }
    .nav-link{
      display: block;
      width: 91px;
      padding: 9px 0 10px;
      height: 35px;
      border-radius: 30px;
      color: $c-59;
      text-align: center;
      margin-left: 5px;

      &:hover{
        background: #45AA1B;
        color: $c-wh;
      }
      @include lessdesktop{
        width: 62px;
      }
      @media (max-width: 1320px) {
        width: 91px;
      }
    }
    .nav-link.active{
      color: $c-wh;
      background:  #45AA1B;
      border-color: transparent;

    }
  }
}
.sidebar-top{
  padding: 1px 29px 25px 29px;
  @include lessdesktop{
    padding: 1px 18px 25px;
  }
  @media (max-width: 1320px) {
    padding: 1px 9px 25px;
  }
  @include mobile-horizontal{
    padding: 1px 0 25px;
  }
}
.enter-command{
  padding: 12px 20px 6px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  margin-bottom: 17px;
  @media (max-width: 1320px) {
    border: none;
    padding: 12px 2px 6px;
    margin-bottom: 0;
    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }
  @include mobile-horizontal{
    margin: 0 9px;
    border: 1px solid #eaeaea;
    padding-bottom: 0;
    margin-bottom: 17px;
  }
}
.txt-enter-command{
  font-weight: 700;
  margin-bottom: 16px;
  @media (max-width: 1320px) {
    padding-left: 9px;
  }
}
.interest-price{
  margin: 0 5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include lessdesktop{
    display: block;
  }
  @include mobile-horizontal{
    display: flex;
  }

  .lbl-main-left{
    width: calc(100% - 130px);
    @include lessdesktop{
      width: 100%;
      margin-bottom: 10px;
    }
    @include mobile-horizontal{
      width: 190px;

    }
  }
  @media (max-width: 1320px) {
    margin: 0;
    padding: 0 9px;
    width: 50%;
    float: left;
  }
  @include mobile-horizontal{
    width: 100%;
  }

}
.ip-50{
  width: 130px;
  height: 31px;
  @include lessdesktop{
    width: 100%;
    margin-bottom: 15px;
  }
  @include mobile-horizontal{
    width: calc(100% - 190px);
  }
  input{
    height: 31px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    padding: 4px 14px;
  }
}
.interest-price.block-disable{
  .lbl-main-left{
    label{
      color: #7C7C7C;
    }
  }
}
.purchasing-ability{
  padding: 0 13px 15px 13px;
  border-bottom: 1px solid #EAEAEA;
}
.lbl-txt-main{
  display: inline-block;
  color: #595959;
  font-size: 13px;
  min-width: 48px;
  margin-right: 14px;
}
.currency-unit{
  color: $c-59;
  margin-left: 2px;
}
.number{
  display: inline-block;
}
.charge-tax{
  padding: 15px 13px 0px;
}

.sidebar-bottom{
  background: #F9FFF9;
  padding: 20px 29px;
  border-top: 1px dashed #EAEAEA;
  @include lessdesktop{
    padding: 20px 18px;
  }
  @include mobile-horizontal{
    padding: 20px 9px;
  }
}
.number-money{
  font-size: 16px;
  font-weight: 700;
  color: #45AA1B;
  &.number-money-red{
    color: #DA2128;
  }
}
.txt-plus-money{
  margin-bottom: 3px;
}

.plus-money{
  @include mobile-horizontal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }
}


@media (max-width: 1320px) {
  .sidebar-top .data-filed{
    width: 50%;
    padding: 0 9px;
    float: left;
  }
}
@include mobile-horizontal{
  .sidebar-top .data-filed{
    width: 100%;
  }
  .sidebar-bottom .dp-flex-between{
    display: block;
  }
  .sidebar .data-filed input, .sidebar .data-filed select{
    margin-bottom: 13px;
  }
}

//css cam co

//.sidebar-pledge{
//  padding: 17px 33px 23px;
//}
.btn-process{
  margin: 0 -5px;
  @media (max-width: 1320px) {
    margin: 0 4px;
  }
  .col-6-5{
    width: 50%;
    float: left;
    padding: 0 5px;
  }
}
